name: WeKit Android CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - 'renovate.json'
      - '.editorconfig'
      - '.gitignore'
      - '.github/**'
      - '.github/workflows/**'
      - '.idea/**'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - 'renovate.json'
      - '.editorconfig'
      - '.gitignore'
      - '.github/**'
      - '.github/workflows/**'
      - '.idea/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'workflow_dispatch' || 
      (
        !startsWith(github.event.head_commit.message, '[skip ci]') && 
        (github.ref == 'refs/heads/master' || github.event_name == 'pull_request')
      )
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build unsigned Release
        run: ./gradlew assembleRelease --warning-mode all

      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: wekit-apk
          path: app/build/outputs/apk/release/**/*.apk